<div class="row">
	<h1 id="playerID">Player </h1>
</div>

<div class="row">
	<div class="card-deck" id="mainBoard"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/ControlsSocket.js"></script>
<script src="/javascripts/ControlsUI.js"></script>
<script>
	const socket = new ControlsSocket();
	const events = new ControlsUI(socket);
</script>