<div class="row">
	<h1>Game</h1>
</div>

<div class="row">
	<h2 id="quote"></h2>
</div>

<div class="row">
	<div class="card-deck mt-4" id="mainBoardCards"></div>
</div>
<div class="row">
	<div class="card-deck mt-4" id="mainBoardLeader"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/GameUI.js"></script>
<script src="/javascripts/GameSocket.js"></script>
<script>
	const ui = new GameUI();
	const socket = new GameSocket(ui);
</script>
