<div class="row">
	<div class="col-3">
		<img class="img-fluid" id="logo" alt="logo" src="/logoFullText.png"/>
	</div>
	<div class="col-9">
		<h1>Who is The Funniest ?</h1>

		<p>Welcome !</p>
		<ul>
			<li><a href="/game">Game</a></li>
			<li><a href="/controls">Controls</a></li>
		</ul>
	</div>
</div>
