<!DOCTYPE html>
<html>
	<head>
		<title><%= title %> - Who is The Funniest ?</title>
		<%- include('partials/head.ejs') %>
	</head>
	<body>
		<div class="container p-3-md-5">
			<%- include(`partials/${page}.ejs`) %> 
		</div>
	</body>
</html>
